[main_section]
# (str) who the server hosts the app to
HOST=127.0.0.1
# (int) the default port, defined as an integer with default 8080
PORT=8080
# (int) this is required because no default was defined
TIMEOUT=60
# (int) this is NOT required and is default None
MILES_PER_HOUR=null
# (bool) this is a boolean that is defaulting to False
DEBUG=false

[other_section]
# (str) this variable has no type defined so it is a "str" and required
NAME=Joe
# (int) this is an integer that is required. Due to this being required,
AGE=30

[third_section]
# (str) not required, default None
THIRD_SECT_VALUE=null
